@model MvcApplication1.Models.Account

@{
    ViewBag.Title = "Sign Up";
}

   <div id="topNavWrap">
            <!-- ==================== TOP NAVIGATION ==================== -->
            <div id="topNav" class="clear">
                <div id="display_menu_1" class="menu">
                    <script type="text/javascript">var breadCrumb = "||";</script>
                    <script type="text/javascript">
                        function mOvr1(src)
                        { if (src.className != 'nav nav_hover nav_selected') src.className = 'nav nav_hover'; }
                        function mOut1(src)
                        { if (src.className != 'nav nav_hover nav_selected') src.className = 'nav'; }
 </script>
                    <ul>
                        <li class="nav" onmouseover="mOvr1(this);" onmouseout="mOut1(this);"">
                           @Html.ActionLink("Home", "Index", "Home")

                        </li>
                          <li class="nav" onmouseover="mOvr1(this);" onmouseout="mOut1(this);">
                          @Html.ActionLink("All Products","ViewAll","Product")

                        </li>
                        <li class="nav" onmouseover="mOvr1(this);" onmouseout="mOut1(this);">
                            <a href="/Cart" title="">Shopping Cart</a>
                        </li>
                      <li class="nav" onmouseover="mOvr1(this);" onmouseout="mOut1(this);" onclick="mClk1(this);">
                            <a href="#" title="">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- #top_nav -->
        </div>



<div class="span10 offset1">
@using (Html.BeginForm())
{
       @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Registeration Form</legend>
        <br />
        <h5 style="color:red">@ViewBag.Error</h5>
        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Name)
            </div>
            <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Name)
                </div>
        </div>
        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Username)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Username)             
            </div>
             <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Username)
                </div>
       </div>
        <div class="row">
            <div class="span2 ">
            </div>
            <div class="span">
                <button id="b1" class="btn btn-small">Check Availability</button>
            </div>
        </div>
        <br />
        <script>

            $(document).ready(function () {

                $('#checking').hide();
              $('#b1').click(function () {
                    
                    var username = $('#Username').val();
                        $('#b1').text("Checking");
                        $('#b1').addClass("btn-warning");
                        $.getJSON("/Account/CheckUsername?UserName=" + username, function (data) {
                      
                            if (data) {
                                $('#b1').text("Available");
                                $('#b1').addClass("btn-success");

                                $('#b1').removeClass("btn-danger")
                            }
                            else {
                                $('#b1').text("Not Available");
                                $('#b1').addClass("btn-danger");

                                $('#b1').removeClass("btn-success")
                            }
                        });

                    });
          
            });
        </script>


        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Password)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Password)
            </div>
             <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Password)
                </div>
       </div>
        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Email)
            </div>
             <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Email)
                </div>
       </div>

        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Country)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Country)
            </div>
              <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Country)
                </div>
      </div>

        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.City)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.City)
            </div>
              <div class="span offset1">
            @Html.ValidationMessageFor(model => model.City)
                </div>
      </div>

        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.DOB)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.DOB)
            </div>
              <div class="span offset1">
            @Html.ValidationMessageFor(model => model.DOB)
                </div>
     </div>
        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Address)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Address)
            </div>
               <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Address)
                </div>
     </div>

        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Phone)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Phone)
            </div>
              <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Phone)
                </div>
      </div>
        <br />
         <div class="row">
            <div class="offset2">
            <input type="submit" class="btn btn-primary btn-large span3" value="Register">
            </div>
        </div>
      
    </fieldset>
}

      <br />
        <br />
    </div>
 @Scripts.Render("~/bundles/jqueryval")
