@model MvcApplication1.Models.Company

@{
    ViewBag.Title = "Registeration";
}

  <div id="topNavWrap">
            <!-- ==================== TOP NAVIGATION ==================== -->
            <div id="topNav" class="clear">
                <div id="display_menu_1" class="menu">
                    <script type="text/javascript">var breadCrumb = "||";</script>
                    <script type="text/javascript">
                        function mOvr1(src)
                        { if (src.className != 'nav nav_hover nav_selected') src.className = 'nav nav_hover'; }
                        function mOut1(src)
                        { if (src.className != 'nav nav_hover nav_selected') src.className = 'nav'; }
 </script>
                    <ul>
                        <li class="nav" onmouseover="mOvr1(this);" onmouseout="mOut1(this);"">                         
                             @Html.ActionLink("Home","Index","Company")
                        </li>
                        <li class="nav" onmouseover="mOvr1(this);" onmouseout="mOut1(this);">
                             @Html.ActionLink("View Own Product","ViewOwnProd","Company")
                        </li>
                        <li class="nav" onmouseover="mOvr1(this);" onmouseout="mOut1(this);">
                             @Html.ActionLink("Add new Product","AddProduct","Company")
                        </li>
                        <li class="nav" onmouseover="mOvr1(this);" onmouseout="mOut1(this);" onclick="mClk1(this);">
                            <a href="#" title="">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- #top_nav -->
        </div>


<div class="span10 offset1">
@using (Html.BeginForm(    "Create", "Company", FormMethod.Post, new { enctype="multipart/form-data"}))
{
       @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Company Registeration Form</legend>
        <br />
          <h5 style="color:red">@ViewBag.Error</h5>
      
        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Name)
            </div>
            <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Name)
                </div>
        </div>
   
        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Password)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Password)
            </div>
             <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Password)
                </div>
       </div>
        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Email)
            </div>
             <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Email)
                </div>
       </div>

        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Country)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Country)
            </div>
              <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Country)
                </div>
      </div>
              <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Description)
            </div>
              <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Description)
                </div>
      </div>
  <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Category)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Category)
            </div>
              <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Category)
                </div>
      </div>

   <div class="row">
            <div class="span2 ">
                Upload Logo
            </div>
            <div class="span">
                <input type="file" name="image" />
            </div>
      </div><br />
           <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Address)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Address)
            </div>
               <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Address)
                </div>
     </div>

        <div class="row">
            <div class="span2 ">
                @Html.DisplayNameFor(model => model.Phone)
            </div>
            <div class="span">
                @Html.EditorFor(model => model.Phone)
            </div>
              <div class="span offset1">
            @Html.ValidationMessageFor(model => model.Phone)
                </div>
      </div>
        <br />
         <div class="row">
            <div class="offset2">
            <input type="submit" class="btn btn-primary btn-large span3" value="Register">
            </div>
        </div>
      
    </fieldset>
}

      <br />
        <br />
    </div>
 @Scripts.Render("~/bundles/jqueryval")

