@{
    ViewBag.Title = "Company Products";
}

   <div id="topNavWrap">
            <!-- ==================== TOP NAVIGATION ==================== -->
            <div id="topNav" class="clear">
                <div id="display_menu_1" class="menu">
                    <script type="text/javascript">var breadCrumb = "||";</script>
                    <script type="text/javascript">
                        function mOvr1(src)
                        { if (src.className != 'nav nav_hover nav_selected') src.className = 'nav nav_hover'; }
                        function mOut1(src)
                        { if (src.className != 'nav nav_hover nav_selected') src.className = 'nav'; }
 </script>
                    <ul>
                        <li class="nav" onmouseover="mOvr1(this);" onmouseout="mOut1(this);"">                         
                             @Html.ActionLink("Home","Index","Company")
                        </li>
                        <li class="nav nav_selected" onmouseover="mOvr1(this);" onmouseout="mOut1(this);">
                             @Html.ActionLink("View Own Product","ViewOwnProd","Company")
                        </li>
                        <li class="nav " onmouseover="mOvr1(this);" onmouseout="mOut1(this);">
                             @Html.ActionLink("Add new Product","AddProduct","Company")
                        </li>
                        <li class="nav" onmouseover="mOvr1(this);" onmouseout="mOut1(this);" onclick="mClk1(this);">
                            <a href="#" title="">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- #top_nav -->
        </div>


<div class="span10 offset1" id="p">
    <legend>All products</legend>
    @foreach (var p in Model)
    {
        var url = "/Images/products/" + p.Id + ".jpg";
        <div class="row">
            <div class="span4">
                <img height="200" width="400" src="@url" />
            </div>

            <div class="span4 offset1">
                <p><b>Product Name </b>: @p.Name</p>
               <p> <b>Availability</b>: @p.Quantity</p>
                <p><b>Product Price </b>: @p.Price</p>
           <br />

                <button class="btn btn-primary btn-large" onclick="@("window.location.href='" + @Url.Action("EditProduct","Company",new { Id = p.Id })+"'" );">Edit Product</button>
                <button class="btn btn-primary btn-large" onclick="@("window.location.href='" + @Url.Action("DeleteProduct/","Company",new { Id = p.Id })+"'" );">Delete Product</button>

            </div>
        </div><br />
        <hr />
    }
</div>

<br /><br />